*{
    margin:0px;
    padding:0px;
}
nav{
    display:flex;
    background-color:black;
    justify-content:space-between;
    padding:20px;
    align-item:center;
}
nav>ul{
    display:flex;
    color:white;
    gap:10px;
}
nav ul li{
    list-style: none;
}
.style-link{
    color:grey;
    text-decoration: none;
    transition:all 2.5s ease-in-out;
}
.style-link:visited{
    color:aquamarine;
}
.style-link:hover{
    color:beige;
    background-color: white;
    font-size:12px;
    padding:5px;
    border-radius:20px;
}